body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Tac One", sans-serif;
}

.header-container {
  background-image: url("https://images.unsplash.com/photo-1506466010722-395aa2bef877?q=80&w=3260&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  height: 250px;
  /* Set height according to your design */
}
